@charset "utf-8";

a {
            text-decoration: none;
            color: black;
}
/*メインの画像をグリッドの配置にする (ここから) */
.product-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 35px;
    list-style: none;
}
/*メインの画像をグリッドの配置にする (ここまで) */
.product-list img {
    width: 100%;

}

/*wrapperで表示サイズを調整する(ここから) */
.wrapper {
    width: 100%;
    max-width: 1360px;
    margin: 0 auto;
    padding: 0 40px;

}
/*wrapperで表示サイズを調整する(ここまで) */

/* headerとfooterを横並びにする(ここから) */
#header {
    display: flex;
    justify-content: flex;
}
#footer .menu {
    display: flex;
    list-style: none;
}
.menu li {
    margin-right: 15px;
}
/* headerとfooterを横並びにする(ここまで) */

.link-text{
    display: block;
    text-align: center;
    margin: 60px 0;
}

/* item1 */
.item{
    display: flex;
}
.item-img img{
    width: 400px;
    height: auto;
    margin: 20px 0 20px 50px;

}
.page-title{
    margin-left: 60px;
}
.item-text {
    margin: 20px 40px 0 40px;

}

/* レスポンシブ対応デザイン */
@media (max-width : 600px){

.product-list{
    grid-template-columns: repeat( 2 , 1fr);

}
.product-list img{
    width: 100%;
    height: auto;
    display: block;
}

.site-title img{
    max-width: 100%;
    height: auto;
}
.product-list p{
    font-size: 0.8rem;
    line-height: 1.4;
    margin-top: 8px;
}
}
