.img-list ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0;
}

.img-list li{
    width: 25%;
    box-sizing: border-box;
    padding: 10px;
}
.img-list img{
    width: 100%;
    height: auto;
    display: block;
}