@charset "utf-8";

a {
            text-decoration: none;
            color: black;
}
/*メインの画像をグリッドの配置にする (ここから) */
.product-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 35px;
    list-style: none;
}
/*メインの画像をグリッドの配置にする (ここまで) */
.product-list img {
    width: 100%;

}

/*wrapperで表示サイズを調整する(ここから) */
.wrapper {
    /* display: flex; */

    width: 100%;
    max-width: 1360px;
    margin: 0 auto;
    padding: 0 40px;

}

.site-title{
    margin: 20px 0 10px 5px;
}

.hanbar{
    margin: 15px 0 0 880px;
    font-size: 2rem;
}
/*wrapperで表示サイズを調整する(ここまで) */

/* headerとfooterを横並びにする(ここから) */
#header {
    display: flex;
    justify-content: flex;
}
#footer .menu {
    display: flex;
    list-style: none;
}
.menu li {
    margin-right: 15px;
    margin-bottom: 200px;
}
/* headerとfooterを横並びにする(ここまで) */

.link-text{
    display: block;
    text-align: center;
    margin: 60px 0;
}

/* item1 */
.item{
    display: flex;
}
.item1img{
    width: 400px;
    height: auto;
    margin: 20px 0 20px 150px;

}
.page-title{
    margin: 5px 0 5px 150px;
    font-size: 20px;
}
.item-text {
    margin: 20px 40px 0 40px;

}

.text1{
    width: 500px;
}
/* レスポンシブ対応デザイン */
@media (max-width : 600px){

.product-list{
    grid-template-columns: repeat( 2 , 1fr);

}
.product-list img{
    width: 100%;
    height: auto;
    display: block;
}

/* .site-title img{
    max-width: 100%;
    height: auto;
} */
.product-list p{
    font-size: 0.8rem;
    line-height: 1.4;
    margin-top: 8px;
}

/* index */
.tittle-img {
    margin: 10px 0 10px 0 ;
    max-width: 50px;
    width: 50%;
    
}

.hanbar{
    width:100%;
    height: auto;
    margin: 10px 0 10px 250px ;
}

.menu{
    display: flex;
    margin: 0 0 0 50px;
    gap: 50px;
    width: 100%;
}
/* item1 */

.item{
    flex-direction: column;
}
.page-title{
    width: 100%;
    margin: 0 0 0 30px;

}
.item1img{
    max-width: 100%;
    width: 300px;
    height: auto;
    margin: 20px 0 5px 30px;
    display: block;
    
}

.text1{
    margin-bottom: 1em;
}
.item-text{
    max-width: 100%;
}
/* .text1{
    width: 100%;
    max-width: 100%;
} */

}
