@charset "utf-8";

a {
            text-decoration: none;
            color: black;
}
/*メインの画像をグリッドの配置にする (ここから) */
.product-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 35px;
    list-style: none;
}
/*メインの画像をグリッドの配置にする (ここまで) */
.product-list img {
    width: 100%;

}

/*wrapperで表示サイズを調整する(ここから) */
.wrapper {
    /* display: flex; */

    width: 100%;
    max-width: 1360px;
    margin: 0 auto;
    padding: 0 40px;

}

.site-title{
    margin: 20px 0 10px 5px;
}

.hanbar{
    margin: 15px 0 0 880px;
    font-size: 2rem;
}
/*wrapperで表示サイズを調整する(ここまで) */

/* headerとfooterを横並びにする(ここから) */
#header {
    display: flex;
    justify-content: flex;
}
#footer .menu {
    display: flex;
    list-style: none;
}
.menu li {
    margin-right: 15px;
    margin-bottom: 200px;
}
/* headerとfooterを横並びにする(ここまで) */

.link-text{
    display: block;
    text-align: center;
    margin: 60px 0;
}

/* item1 */
.item{
    display: flex;
}
.item1img{
    width: 400px;
    height: auto;
    margin: 20px 0 20px 150px;

}
.page-title{
    margin: 5px 0 5px 150px;
    font-size: 20px;
}
.item-text {
    margin: 20px 40px 0 40px;

}

.text1{
    width: 500px;
}

/* 開閉ボタン */
.button-menu{
    position: fixed; /*位置を固定*/
    right: 1rem; 
    top: 1rem;
    z-index: 4; /*重なり位置*/
    padding: 0.5rem 1rem; /*内側余白*/
    border: 1px solid palevioletred ; /*枠線　実践　茶色 */
    border-radius: 50%; /*角を丸める*/
    height: 4rem;
    width: 4rem;

    
}

/*開くボタン*/
#menu-open span{
    width: 100%; /*横*/
    height: 2px; /*高さ*/
    background-color: black; /*背景色*/
    position: relative; /*位置を相対化*/
    display: block;
}

#menu-open span:nth-child(1){
top: 0;
}
#menu-open span:nth-child(2){
margin:  8px 0; /*外側余白*/
}
#menu-open span:nth-child(3){
    top: 0;
}
#menu-close{
    border: 1px solid white;
}

/*閉じるボタン*/
#menu-close span{
    width: 100%; /*横*/
    height: 2px; /*高さ*/
    background-color: white; /*背景色*/
    position: relative; /*位置を相対化*/
    display: block;
}

#menu-close span:nth-child(1){
translate: 0 4px;
transform: rotate(-315deg);
}
#menu-close span:nth-child(2){
    opacity: 0;
}
#menu-close span:nth-child(3){
transform: rotate(-45deg);
}
/* スライドメニューパネル */
#menu-panel{
  position: fixed; /* 位置固定 */
  top: 0;     /* 上 */
  right: 0;   /* 右 */
  z-index: 10;   /* 重なり位置 */
  padding: 8rem 2rem 2rem;    /* 内側余白 */
  width: 20vw;    /* 横幅 */
  height: 100vh;    /*縦幅  */
    background-color: gray;
    font-family: var(--oswald-font);
    translate: 100%;
    }

    .menu-list{
    list-style: none;
    }

    .menu-list li{
    margin: 1.5rem 0;
    opacity: 0;
    font-family: fantasy;
    }
    .menu-list a{
    font-size: 2rem;
    text-decoration: none;
    color: var(--light-grey);
}

/* company */

.page-title{
    font-size: 1.5rem;
    margin: 0 0 5px 30px;
}

#company{
    max-width: 600px;

}
#company .info{
    width: 100%;
    border-collapse: collapse; /*テーブルの線の隙間をなくす*/
    margin-bottom: 40px;
}

#company .info th ,
#company .info td {
    /* font-weight: normal; */
    border-bottom: 1.5px solid gray;
    padding: 20px 10px;
}
#company .info th{
    width: 30%;
        text-align: left;
}

#company .info td{
    width: 70%;


}
#company .info tr:last-child th ,
#company .info tr:last-child td{
    border-bottom: none;
}
#company .map{
    /* filter:grayscale(1); */
}
#company .map iframe{
    width: 100%;
    height: 450px;
}


/* レスポンシブ対応デザイン */
@media (max-width : 600px){

.product-list{
    grid-template-columns: repeat( 2 , 1fr);

}
.product-list img{
    width: 100%;
    height: auto;
    display: block;
}

/* .site-title img{
    max-width: 100%;
    height: auto;
} */
.product-list p{
    font-size: 0.8rem;
    line-height: 1.4;
    margin-top: 8px;
}

/* index */
.tittle-img {
    margin: 10px 0 10px 0 ;
    max-width: 50px;
    width: 50%;
    
}

.wrapper .menu li{
    gap: 1rem;
    
}
/*ハンバーガーメニュー*/
.button-menu{
    width: 45px;
    height: 45px;
    padding: 5px;
}

.hanbar{
    width:100%;
    height: auto;
    margin: 10px 0 10px 250px ;
}

.menu{
    display: flex;
    margin: 0 0 0 30px;
    gap: 50px;
    width: 100%;
}
/* item1 */

.item{
    flex-direction: column;
}
.page-title{
    width: 100%;
    margin: 0 0 0 30px;

}
.item1img{
    max-width: 100%;
    width: 300px;
    height: auto;
    margin: 20px 0 5px 30px;
    display: block;
    
}

.text1{
    margin-bottom: 1em;
}
.item-text{
    max-width: 100%;
}
/* .text1{
    width: 100%;
    max-width: 100%;
} */


/* company */

#company .info td {
    display: block;
    width: 100%;
    border-bottom: none;
    padding: 0 10px;
    margin: 5px 0;
}
#company .info tr{
    border-bottom: 1.5px solid gray;
}

.content-wrapper{
    
}
}
